<!-- <header class="arliquid container p-0">
    <div class="arliquid_header_body">
        <nav class="uib-menubar">
            <div class="uib-menubar__logo">
              <div  class="uib-logo"></div>
            </div>
            <div class="uib-menubar__title">
              <p class="arliquid_menubar1_heading">PDF Quote Packaging Tool</p>
            </div>
            <div class="uib-menubar__global-functions">
            </div>
          </nav>
          <nav class="uib-menubar arliquid_menubar2">
            <div class="">
              <div style="" class="uib-logo"></div>
              <i class="fa fa-home  arliquid_menubar2_icon1" aria-hidden="true"></i>
            </div>
            <div class="uib-menubar__title">
              <p class="arliquid_menubar2_heading">Air Liquide - PA07302020</p>
            </div>
            <div class="uib-menubar__global-functions">
                <i class="uib-icon  uib-icon--user arliquid_menubar2_icon2"></i>
            </div>
          </nav>
    </div>
</header> -->
<div class="arliquid_body container p-0">
    <div class="row p-0 m-0">
        <!-- <div class="row"> -->
        <div class="col-3 p-0 m-0 arliquid_aside_section">
           <div class="arliquid_aside_heading d-flex justify-content-between">
               <h6 class="arliquid_aside_inheading">Quote Content</h6>
               <i  (click)="slicify()" class="uib-icon  uib-icon--edit arliquid_aside_inicon"></i>
               <!-- <i *ngIf="!asideCross" (click)="slicify()" class="fa fa-times arliquid_aside_cross" aria-hidden="true"></i> -->
           </div>
           <!-- **************************** test *********************** -->
           <!-- <div class="list-container">
            <div class="todo-container column-container">
              <div class="list"
                   cdkDropList
                   #todoList="cdkDropList"
                   [cdkDropListData]="todos"
                   [cdkDropListConnectedTo]="[doneList]"
                   (cdkDropListDropped)="onDrop($event)">
                <h2>Tech to learn</h2>
                <mat-card *ngFor="let todo of todos" cdkDrag>
                  <mat-card-header>
                    <mat-card-title>{{todo.name}}</mat-card-title>
                    <mat-card-subtitle>{{todo.category}}</mat-card-subtitle>
                  </mat-card-header>
                </mat-card>
              </div>
            </div>
          
            <div class="done-container column-container">
              <div class="list">
                <h2>Tech learned</h2>
                <mat-card *ngFor="let complete of completed">
                  <mat-card-header>
                    <mat-card-title>{{complete.name}}</mat-card-title>
                    <mat-card-subtitle>{{complete.category}}</mat-card-subtitle>
                  </mat-card-header>
                </mat-card>
              </div>
            </div>
          </div> -->
           <!-- **************************** test *********************** -->
           <ul class="uib-list arliquid_aside_list">
            <li class="uib-list__item arliquid_aside_active">
              <a class="uib-list__link arliquid_aside_activetext" href="#">{{aside_covername}}</a>
            </li>
            <li class="uib-list__item arliquid_aside_active">
              <a class="uib-list__link arliquid_aside_activetext" href="#">{{aside_budgetarname}}</a>
            </li>
            <li class="uib-list__item arliquid_aside_active" *ngFor="let pdfdata of pdfFiles">
              <a class="uib-list__link arliquid_aside_activetext" *ngIf="pdfdata?.id != 1 && pdfdata?.id != 2" href="#">{{pdfdata?.filename[0].name}}</a>
            </li>

            <!-- <li class="uib-list__item arliquid_aside_active" *ngIf="asideReference != ''">
              <a class="uib-list__link arliquid_aside_activetext" href="#">{{asideReference}}</a>
            </li>
            <li class="uib-list__item arliquid_aside_active" *ngIf="asideDrawing != ''">
              <a class="uib-list__link arliquid_aside_activetext" href="#">{{asideDrawing}}</a>
            </li> -->
            <li class="uib-list__item " *ngFor="let checkbox of checkboxfiles; let i = index">
              <a class="uib-list__link d-flex justify-content-between  arliquid_aside_inner" >
                {{checkbox.pdfname}}
              <div class="arliquid_aside_remove">
                <button type="button" *ngIf="!asideCross"  (click)="removeAside(checkbox.mainid,i)" class="uib-button uib-button--circular uib_circle_removebtn"><span class="uib_circle_remove">-</span></button>
              <!-- <i *ngIf="asideCross" (click)="removeAside(checkbox.mainid,i)" class="fa fa-times arliquid_aside_cross" aria-hidden="true"></i> -->
              <div class="uib-drag-handle" *ngIf="asideCross"></div>
              <!-- <i  *ngIf="asideCross"  class="uib-icon uib-icon--remove arliquid_aside_removebar"></i>
              <i  *ngIf="asideCross" class="uib-icon uib-icon--remove arliquid_aside_removebar"></i> -->
              </div>
            </a>
            </li>
            <!-- <li class="uib-list__item ">
              <a class="uib-list__link d-flex justify-content-between  arliquid_aside_inner" href="#">Item list
              <div class="arliquid_aside_remove">
              <i class="uib-icon uib-icon--remove arliquid_aside_removebar"></i>
              <i class="uib-icon uib-icon--remove arliquid_aside_removebar"></i>
              </div>
            </a>
            </li>
            <li class="uib-list__item ">
              <a class="uib-list__link d-flex justify-content-between  arliquid_aside_inner" href="#">Item list
              <div class="arliquid_aside_remove">
              <i class="uib-icon uib-icon--remove arliquid_aside_removebar"></i>
              <i class="uib-icon uib-icon--remove arliquid_aside_removebar"></i>
              </div>
            </a>
            </li> -->
          </ul>
        </div>
        <!--  -->
        <div class="col-9 p-0 m-0 arliquid_center_section">
            <ul class="nav nav-tabs arliquid_nav_tab" id="myTab" role="tablist">
                <li class="nav-item arliquid_nav_item">
                  <a class="nav-link active" id="document-tab" data-toggle="tab" href="#documentselection" role="tab" aria-controls="documentselection" aria-selected="true">Document Selection</a>
                </li>
                <li class="nav-item arliquid_nav_item" [ngStyle]="{'pointer-events': disabletab ? 'none' : 'inherit'}" >
                  <a class="nav-link" href="#pdfpreview" id="pdf-tab" data-toggle="tab"  role="tab" aria-controls="pdfpreview" aria-selected="false">PDF Preview</a>
                </li>
              </ul>
              
              <div class="tab-content arliquid_tab_content" id="myTabContent" >
                <div class="tab-pane fade show active" id="documentselection" role="tabpanel" aria-labelledby="document-tab">
                  <!-- <ngx-doc-viewer url="https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf" viewer="google"  style="width:100%;height:93vh;">
                  </ngx-doc-viewer> -->
                    <div class="arliquid_tab_section">
                        <div class="col-6 mr-0 pr-0 arliquid_tab_section1">
                          <!-- section 1 -->
                            <div class="arliquid_tab_innerbody">
                                <div class="artab_innerheading">
                                    <h6 class="artab_innertext">Upload PDF document</h6>
                                </div>
                                <!-- inner section 1 -->
                                <div class="artab_uploadcover"> 
                                  <!-- aleart -->
                                  <div *ngIf="pdfErr" class="alert alert-danger alert-dismissible fade show arliquid_pdf_aleart" role="alert">
                                     {{pdfErrMsg}}
                                    <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button> -->
                                  </div>
                                   <!-- aleart closed -->

                                   <p class="artab_requiredtext">Required</p>
                                   <div class="artab_innerrequire col-md-12"  *ngFor="let fieldname of uploadmainField; let i = index">
                                     <div class="col-5 control-label">{{fieldname.name}}</div>
                                     <div class="col-7 pl-0 ml-0">
                                    <form>
                                      <div class="form-group">
                                        <input type="file" accept=".pdf" (change)="requiredInput(fieldname.unid,i,$event.target.files)" class="form-control-file" >
                                      </div>
                                    </form>
                                    </div>
                                   </div>
                                </div>
                                  <!-- inner section 2 -->
                                <div class="artab_uploadcover"> 
                                  <p class="artab_requiredtext artab_text">Optional</p>
                                  <div class="artab_innerrequire col-md-12">
                                    <div class="col-12">
                                     <div class="row" *ngFor="let fieldname of uploadpdfField; let i = index">
                                        <div class="col-5 control-label">{{fieldname.name}}</div>
                                        <div class="col-7 pl-0 ml-0">
                                      <form>
                                        <div class="form-group">
                                          <input type="file"  accept=".pdf" (change)="requiredInput(fieldname.unid,i,$event.target.files)" class="form-control-file" >
                                        </div>
                                      </form>
                                      </div>
                                    </div>
                                  </div>
                                    <!-- insert additional field button -->
                                     <div class="artab_insert_add col-12 text-center  ">
                                       <a (click)="oninsertfield()">
                                      <button type="button" class="uib-button uib-button--circular add_btn_circle">+</button>
                                      <span  class="add_btn_circletext">Insert additional field</span>
                                    </a>
                                     </div>


                                     <div class="artab_insert_additional col-12 text-right pb-3">
                                      <div class="uib-actionbar add_btn" role="group">
                                        <button type="button" class="uib-button uib-button--action add_btn_inner" (click)="submitPdf()">Add</button>
                                      </div>
                                      <!-- <button type="button" class="btn btn-primary" (click)="submitPdf()">Add</button> -->
                                     </div>
                                  </div>
								  
							                	<div class="clearfix"></div>
                               </div>
                            </div>
                            
                        </div>
                        <div class="col-6 ml-0 pl-0 arliquid_tab_section2"  >
                            <div class="arliquid_tab_innerbody1 mb-4" *ngFor="let Sec of newpdfdocs">
                                <div class="artab_innerheading">
                                    <h6 class="artab_innertext">{{Sec.section_type}}</h6>
                                </div>
                                <div class="uib-accordion" *ngFor="let newdata of Sec.main_modules">
                                  <div class="uib-accordion__section">
                                    <input class="uib-accordion__toggle" type="checkbox" id="{{newdata.mid}}" />
                                    <label class="uib-accordion__label" for="{{newdata.mid}}">
                                      {{newdata.module_name}}
                                    </label>
                                    <div class="uib-accordion__content">
                                      <!-- [(ngModel)]="model" -->
                                      <div class="uib-accordion__paragraph" *ngFor="let PDF of newdata.module_pdfs">
                                        <label class="uib-accordion__title right-side-chk"><input type="checkbox"  id="tid{{PDF.pdf_id}}" value="{{PDF.pdf_id}}"  (change)="checkCheckBoxvalue(PDF.pdf_file_name,PDF.pdf_folder_path,$event.target.value)"/> {{PDF.pdf_title}}</label>                                        
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>

                            <!-- <div class="arliquid_tab_innerbody1">
                                <div class="artab_innerheading">
                                    <h6 class="artab_innertext">Select third-party data sheets</h6>
                                </div> -->
                                <!--  -->
                                <!-- <div class="uib-accordion" *ngFor="let Sec of ModPdfs">
                                  <div class="uib-accordion__section" *ngIf="Sec.section_id == 1">
                                    <input class="uib-accordion__toggle" type="checkbox" id="analyse-event-logs" />
                                    <label class="uib-accordion__label" for="analyse-event-logs">
                                      {{Sec.module_name}}
                                    </label>
                                    <div class="uib-accordion__content">
                                      <div class="uib-accordion__paragraph" *ngFor="let PDF of Sec.module_pdfs">
                                        <label class="uib-accordion__title"><input type="checkbox" value="{{PDF.pdf_id}}" /> {{PDF.pdf_title}}</label>                                        
                                      </div>
                                    </div>
                                  </div>
                                     
                                </div> -->
                                <!--  -->
                            <!-- </div> -->
                            <!-- <div class="arliquid_tab_innerbody2"> -->
                                <!-- <div class="artab_innerheading">
                                    <h6 class="artab_innertext">Select Product information documents</h6>
                                </div> -->
                                <!--  -->
                                <!-- <div class="uib-accordion" *ngFor="let Sec of ModPdfs">
                                  <div class="uib-accordion__section" *ngIf="Sec.section_id == 2">
                                    <input class="uib-accordion__toggle" type="checkbox" id="analyse-event-logs1" />
                                    <label class="uib-accordion__label" for="analyse-event-logs1">
                                      {{Sec.module_name}}
                                    </label>
                                    <div class="uib-accordion__content">
                                      <div class="uib-accordion__paragraph">
                                        <p class="uib-accordion__title">Lorem ipsum</p>
                                      </div>
                                      <div class="uib-accordion__paragraph">
                                        <p class="uib-accordion__title">Lorem ipsum</p>
                                      </div>
                                      <div class="uib-accordion__paragraph">
                                        <p class="uib-accordion__title">Lorem ipsum</p>
                                      </div>
                                      <div class="uib-accordion__paragraph">
                                        <p class="uib-accordion__title">Lorem ipsum</p>
                                      </div>
                                    </div>
                                  </div>
                                
                                   
                                </div> -->
                                <!--  -->
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pdfpreview" role="tabpanel" aria-labelledby="pdf-tab" >
                  <!-- Pdf reaing here....... -->
                  <!-- <pdf-viewer [src]="pdfSrc" 
                  [render-text]="true"
                  style="display: block;"></pdf-viewer> -->
                <div class="col-12"> 
                  <iframe [src]="urlSafe" width="100%" height="900px">
                  </iframe>
                </div>

                </div>

              </div>
        </div>
       <!-- </div> -->
    </div>
</div>